body {
  width: 100%;
  height: 100%;
  background: #000;
  //overflow: hidden; => for scrollbars
  color: #fff;
}

#mainSlideShow #configurationSlideShow {
    float:left;
    width:50%;
}
#mainSlideShow #previewSlideShow {
    margin-left:50%   
}
