body {
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
}
/*1280 x 720*/
#previewSlideShow {
  height: 360px;
  width: 640px;
  border: solid green;
  overflow: hidden;
}
#srcImage, #video, #srcNextImage {
  height: 360px;
  width: 640px;
  object-fit: cover;
  border: solid red;
  overflow: hidden;
}
#text, #divText {
  height: 360px;
  width: 640px;
  object-fit: cover;
  border: solid red;
  overflow: hidden;
  position:absolute;
}
#mainSlideShow #configurationSlideShow {
    float:left;
    width:50%;
    left:50px;
  top:300px;
  position:absolute;
}
#mainSlideShow #previewSlideShow {
    margin-left:50%;   
}

#timelineDiv {
  background: #fff;
  height: 230px;
  left:50px;
  top:80px;
  position:absolute;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 800px;
}

#slideShow {
  left:0px;
  top:30px;
  height: 600px;
  position:absolute;
  overflow-x: hidden;
  overflow-y: scroll;
} 
#updateEffect{
  position: fixed; /* or absolute */
  top: 40%;
  left: 40%;
  padding-left: 20px;
  border: 2px solid green;
  background: #000;
  z-index:10;
  width: 400px;
}
#updateTexte{
  position: fixed; /* or absolute */
  top: 40%;
  left: 40%;
  padding-left: 20px;
  border: 2px solid green;
  background: #000;
  z-index:10;
  width: 800px;
} 

#addNewAnimation {
  position: fixed; /* or absolute */
  top: 40%;
  left: 40%;
  padding-left: 20px;
  border: 2px solid green;
  background: #000;
  z-index:10;
  width: 400px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 110px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.comeOutEffectShowNextImage2 {
   position : absolute; 
   z-index: 2;
   animation: showNextImage2Animation 5s
}
.comeOutEffectShowNextImage {
   position : absolute;
   z-index: 1;
   animation: showNextImageAnimation 5s
}
@keyframes showNextImage2Animation {
    from { opacity:1; }
    to { opacity:0; }
}

@keyframes showNextImageAnimation {
    from { opacity:0; }
    to { opacity:1; }
}
