body {
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
}

#mainSlideShow #configurationSlideShow {
    float:left;
    width:50%;
}
#mainSlideShow #previewSlideShow {
    margin-left:50%;   
}

#timelineDiv {
  background: #fff;
  height: 220px;
  width: 1050px;
  left:30px;
  top:100px;
  position:absolute;
}