

i {
  color:green;
}

/*****************/
/* Image effects */
/*****************/
#images.imageEffectNone{
}
#images.imageEffectSepia{
    filter:sepia(100%);
}
#images.imageEffectBlackAndWhite{
    filter:grayscale(100%);
}
/***********************/
/* Come In/out effects */
/***********************/
.comeInEffectNone{}
.comeOutEffectNone{}
/***********************/
.comeInEffectFadeIn{
  animation: fadeInAnimation 3s;
}
@keyframes fadeInAnimation {
    from { opacity:0; }
    to { opacity:1; }
}
.comeOutEffectFadeOut{
  animation: fadeOutAnimation 3s;
}
@keyframes fadeOutAnimation {
    from { opacity:1; }
    to { opacity:0; }
}
/***********************/
.comeInEffectZoomIn{
  animation: zoomInAnimation 3s;
}
@keyframes zoomInAnimation {
  0% { transform: scale(0); }
  100%{transform: scale(1); }
}
.comeOutEffectZoomOut{
  animation: zoomOutAnimation 3s;
}
@keyframes zoomOutAnimation {
  0% {transform: scale(1); }
  100%{transform: scale(0);}
}
/***********************/
.comeInEffectZoomInWithRotate {
  animation: zoomInWithRotateAnimation 3s;
}
@keyframes zoomInWithRotateAnimation {
  0% { transform: scale(0); }
  100%{ transform: scale(1) rotate(360deg); }
}
.comeOutEffectZoomOutWithRotate {
  animation: zoomOutWithRotateAnimation 3s;
}
@keyframes zoomOutWithRotateAnimation {
  0% { transform: scale(1); }
  100%{ transform: scale(0) rotate(360deg); }
}
/***********************/
.comeInEffectZoomInSlowMotion{
  max-width: 100%;
  vertical-align: middle;
  animation: zoomInSlowMotionAnimation 3s;
}
@keyframes zoomInSlowMotionAnimation {
  0% {
    transform-origin: 50% 65%;
    transform: scale(1);
    transition: transform 5s;
    filter: brightness(150%);
  }
  100%{
    filter: brightness(100%);
    transform: scale(3);
  }
}
.comeOutEffectZoomOutSlowMotion{
  transform: scale(3);
  animation: zoomOutSlowMotionAnimation 3s;
}
@keyframes zoomOutSlowMotionAnimation {
  0% {
    transform: scale(3);
  }
  100%{
    transform: scale(1);
    transform-origin: 50% 65%;
    transition: transform 5s;
    filter: brightness(150%);
  }
}
/***********************/
/* Mouvement effects   */
/***********************/
.movementEffectNone{
}
.movementEffectUpToDown{
  position: relative;
  top: 0;
  animation: upToDownAnimation 3s;
}
@keyframes upToDownAnimation {
    from {
        top: -1000px;
    }
    to {
        top: 0px;
    }
}

.movementEffectDownToUp{
  position: relative;
  top: 0;
  animation: downToUpAnimation 3s;
}

@keyframes downToUpAnimation {
    from {
        top: 2000px;
    }
    to {
        top: 0px;
    }
}

.movementEffectLeftToRight {
  position: relative;
  left: 0;
  animation: leftToRightAnimation 3s;
}

@keyframes leftToRightAnimation {
    from {
        left: -2000px;
    }
    to {
        left: 0px;
    }
}

.movementEffectRightToLeft {
  position: relative;
  left: 0;
  animation: rightToLeftAnimation 3s;
}

@keyframes rightToLeftAnimation {
    from {
        left: 2000px;
    }
    to {
        left: 0px;
    }
}