i {
  color:green;
}


 /* STAR WAR Text effect */
.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.crawl {
  position: relative;
  top: 9999px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg)  translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

/* Image effects  */
#images.imageEffectNone{
}
#images.imageEffectSepia{
    filter:sepia(100%);
}
#images.imageEffectBlackAndWhite{
    filter:grayscale(100%);
}

/* Come In effects  */
.comeInEffectNone{

}

.comeInEffectFadeIn{
  animation: fadeInAnimation 3s;
}

@keyframes fadeInAnimation {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.comeInEffectZoomIn{
  animation: zoomInAnimation 3s;
}

@keyframes zoomInAnimation {
  0% {
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}
.comeInEffectZoomInWithRotate {
  animation: zoomInWithRotateAnimation 3s;
}

@keyframes zoomInWithRotateAnimation {
  0% {
    transform: scale(0);
  }
  100%{
    transform: scale(1) rotate(360deg);
  }
}

.comeinEffectZoomInSlowMotion{
  height: 300px;
  transform-origin: 50% 65%;
    transition: transform 5s, filter 3s ease-in-out;
    filter: brightness(150%);
  animation: zoomInSlowMotionAnimation 3s;
}

@keyframes zoomInSlowMotionAnimation {
  0% {
    transform-origin: 50% 65%;
    transition: transform 5s, filter 3s ease-in-out;
    filter: brightness(150%);
  }
  100%{
    filter: brightness(100%);
    transform: scale(3)
  }
}

/* Come Out effects  */
.comeOutEffectNone{
}

.comeOutEffectFadeOut{
  animation: fadeOutAnimation 3s;
}

@keyframes fadeOutAnimation {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

.comeOutEffectZoomOut{
  animation: zoomOutAnimation 3s;
}

@keyframes zoomOutAnimation {
  0% {
    transform: scale(1);
  }
  100%{
    transform: scale(0);
  }
}

.comeOutEffectZoomOutWithRotate {
  animation: zoomOutWithRotateAnimation 3s;
}

@keyframes zoomOutWithRotateAnimation {
  0% {
    transform: scale(1);
  }
  100%{
    transform: scale(0) rotate(360deg);
  }
}

.comeOutEffectZoomOutSlowMotion{
  height: 300px;
  animation: zoomOutSlowMotionAnimation 3s;
}

@keyframes zoomOutSlowMotionAnimation {
  0% {
    transform-origin: 50% 65%;
    transition: transform 5s, filter 3s ease-in-out;
    filter: brightness(150%);
  }
  100%{
    filter: brightness(100%);
    transform: scale(3)
  }
}


/* Mouvement effects  */
.movementEffectNone{
}
.movementEffectUpToDown{
  position: relative;
  top: 0;
  animation: upToDownAnimation 3s;
}

@keyframes upToDownAnimation {
    from {
        top: -1000px;
    }
    to {
        top: 0px;
    }
}

.movementEffectDownToUp{
  position: relative;
  top: 0;
  animation: downToUpAnimation 3s;
}

@keyframes downToUpAnimation {
    from {
        top: 2000px;
    }
    to {
        top: 0px;
    }
}

.movementEffectLeftToRight {
  position: relative;
  left: 0;
  animation: leftToRightAnimation 3s;
}

@keyframes leftToRightAnimation {
    from {
        left: -2000px;
    }
    to {
        left: 0px;
    }
}

.movementEffectRightToLeft {
  position: relative;
  left: 0;
  animation: rightToLeftAnimation 3s;
}

@keyframes rightToLeftAnimation {
    from {
        left: 2000px;
    }
    to {
        left: 0px;
    }
}